.bg-custom {
  background-color: #6c52a7;

}
.bg-custom2 {
    background: linear-gradient(to right, #a18dce, #a18dce, #bd82c3);
}
.btn-custom {
    background-color: #000000;
    color: #ffffff;
  }
